@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Matemasie", sans-serif;
}

.screen {
  height: 2rem;
  margin-bottom: 4rem;
}

.wrapper{
  height: 20rem;
  width: 30rem;
  padding: 2rem;
  margin-top: 4rem;
  background: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 10px 10px 15px 20px rgba(0,0,0,0.1);
}

.buttonBox{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.bts{
  background:#8c2c2c;
  height: 5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #242424;
  border: none;
  font-size: 1.5rem;

}